h2
{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Roboto', sans-serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.times {
    font-family: "Times New Roman", Times, serif;
}

.lucida {
    font-family: "Lucida Console", "Courier New", monospace;
}

.letra-azul {
    color: blue
}

#texto {
    color: green
}

#navegacion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-link {
    float: left;
}

.nav-link a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link a:hover {
    background-color: #111;
}